.content-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
}

.content-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .content-full-width {
    width: 100%;
  }
  
  .card {
    max-width: 400px;
    margin: 20px 0;
  }

  .card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  