<div class="content-container">
  <form class="content-form" #consultaForm="ngForm" (submit)="consultar()">
    <mat-form-field class="content-full-width">
      <mat-label>Livros que deseja procurar</mat-label>
      <input matInput [(ngModel)]="bookName" name="bookName" placeholder="Ex. Paulo" value="" autocomplete="off">
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-raised-button color="primary">Procurar</button>
    </div>
  </form>


  <div class="card-container">
    <mat-card class="card" *ngFor="let book of books">
      <mat-card-header>
        <img mat-card-avatar class="card-header-image" src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" />
        <mat-card-title>{{ book.volumeInfo.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.volumeInfo.authors }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='{{ book.volumeInfo.imageLinks.smallThumbnail }}' alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>

          {{ book.volumeInfo.description }}

        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="{{ book.saleInfo.buyLink }}">COMPRAR</a>
      </mat-card-actions>
    </mat-card>


  </div>
  
  <button id="arrow" onclick="topFunction()">
    <i class="fa fa-arrow-up" ></i>
  </button>
</div>